body { background-color: #B3B6B7; }
button { margin: 3% 0 3% 0%; }

#header {
    background-color: white;
}

#content{
    background-color: white;
    margin: 1.5% 6% 0 6%;
}

.parentDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.childDiv {
    margin-left: 30px;
}

.contentChild {
    position: relative;
    margin: 3%;
}