:root { --url: url("../images/3.jpg"); }

body { 
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

#puzzleSize {
    margin-left: -20%;
}

#titlePuzzleSize{
    font-family: 'Open Sans', sans-serif;
    background-color: wheat;
    border: 1px double white;
    border-radius: 20px;
    width: 12em;
    text-align: center;
}

#reSetSize {
    background-color:  #e7e7e7;
    font-family: 'Open Sans', sans-serif;
    border: 1px double white;
    border-radius: 20px;
    text-align: center;
    width: 4em;
    cursor: pointer;
}

/** Botón cronómetro y nuevo juego **/

button { 
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 2px; 
    text-align: center;
    line-height: 50px;
    transition-duration: 0.6s;
    margin-top: 20px;
}

.button {
    cursor: pointer;
    background-color: #555555;
    border: 1px double white;
    border-radius: 20px;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
  
.button:hover {
    background-color:  rgba(0, 0, 0, 0.0);
    border: 2px solid black;
    color: black;
}

.buttonChronometer { background-color:  #e7e7e7; }

.wonChronometer {
    background-color: #4CAF50; 
    color: white;
}

#miliseconds { font-size: 10px; }

/** Ajuste centralizado **/

.parentDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.childDiv { margin-left: 30px; }

.container { background-color: rgba(0, 0, 0, 0.3); margin-top: 3%;}

/** Casilla del rompecabezas **/

.tile {
    display: table-cell;
    border: 1px solid rgb(220,220,220);
    background-image: var(--url);
    background-size: 360px 360px;
    cursor: pointer;
}

/** Imagen de referencia lateral **/

#reference{
    height: 120px;
    width: 120px;
    margin-left: 3%;
    margin-right: -10%;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: var(--url) no-repeat;
    background-size: 120px 120px;
    filter: opacity(66%);
}

#reference:hover {
    cursor: crosshair;
    width: 300px;
    height: 300px;
    background-size: 300px 300px;
    filter: opacity(100%);
}    

/** navBar **/

.navImage img{
    height: 100px;
    width: 100px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    margin-left: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    display: flex;
}

.navImage img:hover {
    cursor: pointer;
    width: 150px;
    height: 150px; 
}    